:root {
  --colorBlack: #000;
  --colorWhite: #fff;
  --colorGray: #eee;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;

  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  overscroll-behavior: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 15px;
}
