.task {
  padding: 15px 10px;
  border: 1px solid var(--colorBlack);
  display: grid;
  align-items: center;
  grid-template-columns: 50px 0.5fr 0.5fr 150px;
  border-radius: 8px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
